<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <variable name="defaultLayout" value="${longdate}, ${level}, ${message}" />
    <variable name="headerLayout" value="------------------------------Start ${longdate}-----------------------------------------" />
    <variable name="footerLayout" value="------------------------------END    -------------------------------------${newline}${newline}" />
    <targets  async="true">
      <target name="ConsoleTarget"  xsi:type="ColoredConsole"  layout="${longdate}, ${level}, ${message}"  useDefaultRowHighlightingRules="true"/>
      <target name="fileTarget"  xsi:type="File"  layout="${longdate}, ${level}, ${message}"               fileName="c:\temp\dummyLog_${longdate}.txt" />
      <target name="networkFilePath"  xsi:type="File"  layout="${longdate}, ${level}, ${message}"               fileName="\\127.0.0.1\Shared\temp\dummyLog_${machinename}.txt" />
      <target name="adavancedFileTarget"
              xsi:type="File"
              layout="${longdate}, ${level}, ${message}"
              fileName="c:\temp\log_${level}_${longdate}.txt"
              header="${headerLayout}"
              footer="${headerLayout}"
              archiveAboveSize="1024000000"
              createDirs="true" />
      <target name="debugTarget"  xsi:type="Debugger" layout="${longdate}, ${level}, ${message}" />
      <target name="traceTarget"  xsi:type="Trace" layout="${longdate}, ${level}, ${message}" />
    </targets>
    <rules>
      <!--Write to debug only-->
      <logger name="*" writeTo="debugTarget" />
      <!--Write To all-->
      <logger name="*" writeTo="ConsoleTarget,fileTarget,adavancedFileTarget,debugTarget,traceTarget" />
      <!--Write all errors with warning-->
      <logger name="*" writeTo="adavancedFileTarget,ConsoleTarget" minlevel="Warning"  />
      <!--Write custom log levels-->
      <logger name="*" writeTo="fileTarget,ConsoleTarget,debugTarget" levels="Fatal,Error,Warn,Debug"  />
      <!--Wrtie from custom Logger-->
      <logger name="SocketLogger" writeTo="traceTarget" />
    </rules>
  </nlog>
</configuration>
